# pip
*.egg-info

# IDEs
.idea
.vscode
**.swp

# logs and checkpoints
logs
checkpoints
wandb

# build and temp
build
dist
**__pycache__**
.ipynb_checkpoints
**/*.cpython-36m-x86_64-linux-gnu.so

# dependencies
src

# coverage
.coverage
cov.xml
